html, body {
    background-color: $very-light-blue;
    font-family: $primary-font;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}