.breadcrumbs {
    padding: 30px 100px;
    
    @include md_view() {
        padding: 20px 15px;
    }
    
    @include sm_view() {
        padding: 20px 15px;
    }
    
    @include xs_view() {
        padding: 20px 15px;
    }

    &__item {
        color: $primary;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        padding-right: 25px;

        i {
            position: absolute;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
        }

        &:last-of-type {
            pointer-events: none;
        }
    }
}