.card {
    background-color: white;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 127px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $secondary;
        box-shadow: 0  0 10px 0 rgba($color: $secondary, $alpha: .45);
        transform: scale(1.1);

        .card__title {
            color: white;
        }
        .card__text {
            color: white;
        }
    }

    &__title {
        color: $secondary;
        font-size: 30px;
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
    }

    &__text {
        color: $primary;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        display: block;
    }
}