.footer {
    background-color: white;
    padding: 20px 100px;
    margin-top: 30px;
    padding-top: 25px;
    font-family: $secondary-font;
    font-size: 14px;

    &__left {
        color: $primary;
    }

    &__right {
        color: $primary;
        text-align: right;
    }

    @include md_view() {
        padding: 20px 15px;

        &__left {
            text-align: center;
            margin-bottom: 20px;
        }
    
        &__right {
            text-align: center;
        }
    }

    @include sm_view() {
        padding: 20px 15px;

        &__left {
            text-align: center;
            margin-bottom: 20px;
        }
    
        &__right {
            text-align: center;
        }
    }
   
    @include xs_view() {
        padding: 20px 15px;

        &__left {
            text-align: center;
            margin-bottom: 20px;
        }
    
        &__right {
            text-align: center;
        }   
    }

}